header {
    height: 100vh;
    background-image: url('../imgs/header.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background-color: var(--sage);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: display 300ms ease-in-out;
    z-index: 2000;
    position: fixed;
}

.header-container {
    min-width: 350px;
    padding: 20px 50px;
    position: absolute;
    left: 40%;
}

.demographic-info {
    padding: 10px 0;
    color: var(--green);
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle {
    font-family: 'DM Sans';
    margin: 0;
    color: var(--black);
    font-size: 22px;
}

@media screen and (max-width: 1024px) {
    h1 {
        line-height: 1em;
        margin-bottom: 20px;
    }

    header {
        background: none;
        position: relative;
        align-items: flex-start;
    }

    .mobile-hero-img {
        margin-top: 50px;
        background-image: url('../imgs/mobile-header.jpg');
        width: 100vw;
        background-size: cover;
        height: 50vh;
    }

    .header-container {
        position: absolute;
        height: 50%;
        min-width: 350px;
        width: 100%;
        padding: 50px 20px;
        box-sizing: border-box;
        left: 0%;
        bottom: 0;
        background-color: var(--light-beige);
    }
}